---
import { type CollectionEntry, getCollection, render } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { readingTime } from "@lib/utils";
import BackToPrevious from "@components/BackToPrevious.astro";
import Link from "@components/Link.astro";
import TableOfContents from "@components/TableOfContents.astro";

export async function getStaticPaths() {
  const projects = (await getCollection("research"))
    .filter((post) => !post.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return projects.map((project) => ({
    params: { id: project.id },
    props: project,
  }));
}
type Props = CollectionEntry<"research">;

const project = Astro.props;
const { Content, headings } = await render(project);

function getPaperType(paperType: string) {
  if (paperType === "thesis")
  {
    return "Thesis";
  }
  else if (paperType === "poster")
  {
    return "Extended Abstract";
  }
  else
  {
    return "Paper";
  }
}
---

<Layout title={project.data.title} description={project.data.description}>
  <Container>
    <div class="animate">
      <BackToPrevious href="/research">Back to research</BackToPrevious>
    </div>
    <div class="animate my-10 space-y-1">
      <div class="flex items-center gap-1.5">
        <div class="font-base text-sm">
          <FormattedDate date={project.data.date} />
        </div>
        &bull;
        {project.body && (
          <div class="font-base text-sm">
            {readingTime(project.body)}
          </div>
        )}     
      </div>
      <h1 class="text-3xl font-semibold text-black dark:text-white">
        {project.data.title}
      </h1>
      <div class="mt-3">
        {(project.data.paperURL || project.data.repoURL) && (
          <nav class="flex gap-1">
            {project.data.paperURL && (
              <Link href={project.data.paperURL}>
                {getPaperType(project.data.paperType)}
              </Link>
            )}
            {project.data.paperURL && project.data.posterURL && <span class="text-2xl">/</span>}
            {project.data.posterURL && (
              <Link href={project.data.posterURL}>
                Poster
              </Link>
            )

            }
            {(project.data.posterURL || project.data.paperURL) 
            && project.data.repoURL && <span class="text-2xl">/</span>}
            {project.data.repoURL && (
              <Link href={project.data.repoURL} external>
                Source Code
              </Link>
            )}
          </nav>
        )}
        </div>
    </div>
    <!-- <TableOfContents headings={headings} /> -->
    <article class="animate">
      <Content />
    </article>
  </Container>
</Layout>
